html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#nInput{
    text-align: center;
    justify-content: center;
    margin-left: 50px;
}